
:root {
    --tam-extra-extra-pequeno : 24px;
    --tam-extra-pequeno : 32px;
    --tam-pequeno : 48px;
    --tam-medio : 64px;
    --tam-grande : 80px;
    --tam-padding-posicoes : 5px;
}

body {
    background-color: rgb(240, 240, 240);
}

.tabuleiro {
    display: grid;
    gap: calc(var(--tam-padding-posicoes) * 2);
    width: fit-content;
    margin: auto;
}

.posicao {
    width: 100%;
    height: 100%;
    padding: var(--tam-padding-posicoes);
}

.posicao:hover {
    cursor: pointer;
    padding: 0px;
    border: var(--tam-padding-posicoes) solid gray;
}

.posicao-preta {
    background-color: rgb(80, 80, 80);
}

.posicao-branca {
    background-color: rgb(212, 193, 193);
}

.responsive-img {
    width: 100%;
    height: auto;
}

.responsive-img::selection {
    background-color:transparent;
}

.posicao-inicial {
    background-color: rgb(189, 173, 28);
}

.posicao-alcancavel {
    padding: 0px;
    border: var(--tam-padding-posicoes) solid blue;
}

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.726);
}

.container-promocao {
    background-color: white;
    position: absolute;
    width: 300px;
    height: 400px;
    padding: 10px;
    top: calc(50% - 250px - 5px);
    left: calc(50% - 150px - 5px);
    border-radius: 4px;
}

.btn-promocao {
    display: block;
    margin: 20px auto auto auto;
    width: 200px;
    height: 50px;
}

.container-fim-de-jogo {
    background-color: white;
    position: absolute;
    width: 330px;
    height: 140px;
    padding: 10px;
    top: calc(50% - 70px - 5px);
    left: calc(50% - 165px - 5px);
    border-radius: 4px;
}

.modal-close-btn {
    display: block;
    float: right;
    background-color: transparent;
    border: 0px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    opacity: 0.3;
}

.modal-close-btn:hover {
    opacity: 1;
}

.modal-close-btn::after {
    display: inline-block;
    content: "\00d7"; 
}

.btn-fim-de-jogo {
    display: block;
    margin: 20px auto auto auto;
    width: 150px;
    height: 30px;
}


@media (min-width: 769px) {
    .tabuleiro {
        grid-template-columns: var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande);

        grid-template-rows: var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande);
    }
}

@media (max-width: 768px) and (min-width: 513px) {
    .tabuleiro {
        grid-template-columns: var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio);

        grid-template-rows: var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio);
    }
}

@media (max-width: 512px) and (min-width: 385px) {
    .tabuleiro {
        grid-template-columns: var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno);

        grid-template-rows: var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno);
    }
}

@media (max-width: 384px) and (min-width: 321px) {
    .tabuleiro {
        grid-template-columns: var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno);

        grid-template-rows: var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno);
    }
}

@media (max-width: 320px) {
    .tabuleiro {
        grid-template-columns: var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno);

        grid-template-rows: var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno);
    }
}