
:root {
    --tam-extra-extra-pequeno : 24px;
    --tam-extra-pequeno : 32px;
    --tam-pequeno : 48px;
    --tam-medio : 64px;
    --tam-grande : 80px;
    --tam-padding-posicoes : 5px;
}

body {
    background-color: rgb(240, 240, 240);
}

.tabuleiro {
    display: grid;
    gap: calc(var(--tam-padding-posicoes) * 2);
    width: fit-content;
    margin: auto;
}

.posicao {
    width: 100%;
    height: 100%;
    padding: var(--tam-padding-posicoes);
}

.posicao:hover {
    cursor: pointer;
    padding: 0px;
    border: var(--tam-padding-posicoes) solid gray;
}

.posicao-preta {
    background-color: rgb(80, 80, 80);
}

.posicao-branca {
    background-color: rgb(212, 193, 193);
}

.responsive-img {
    width: 100%;
    height: auto;
}

.responsive-img::selection {
    background-color:transparent;
}

.posicao-inicial {
    background-color: rgb(189, 173, 28);
}

.posicao-alcancavel {
    padding: 0px;
    border: var(--tam-padding-posicoes) solid blue;
}


@media (min-width: 769px) {
    .tabuleiro {
        grid-template-columns: var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande);

        grid-template-rows: var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande);
    }
}

@media (max-width: 768px) and (min-width: 513px) {
    .tabuleiro {
        grid-template-columns: var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio);

        grid-template-rows: var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio);
    }
}

@media (max-width: 512px) and (min-width: 385px) {
    .tabuleiro {
        grid-template-columns: var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno);

        grid-template-rows: var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno);
    }
}

@media (max-width: 384px) and (min-width: 321px) {
    .tabuleiro {
        grid-template-columns: var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno);

        grid-template-rows: var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno);
    }
}

@media (max-width: 320px) {
    .tabuleiro {
        grid-template-columns: var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno);

        grid-template-rows: var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno) var(--tam-extra-extra-pequeno);
    }
}