
:root {
    --tam-extra-pequeno : 32px;
    --tam-pequeno : 48px;
    --tam-medio : 64px;
    --tam-grande : 96px;
}

body {
    background-color: rgb(240, 240, 240);
}

.tabuleiro {
    display: grid;
    width: fit-content;
    margin: auto;
}

.posicao-preta {
    width: 100%;
    height: 100%;
    background-color: black;
}

.posicao-branca {
    width: 100%;
    height: 100%;
    background-color: rgb(212, 193, 193);
}

.responsive-img {
    width: 100%;
    height: auto;
}


@media (min-width: 701px) {
    .tabuleiro {
        grid-template-columns: var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande);
        grid-template-rows: var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande) var(--tam-grande);
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    .tabuleiro {
        grid-template-columns: var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio);
        grid-template-rows: var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio) var(--tam-medio);
    }
}

@media (max-width: 500px) and (min-width: 401px) {
    .tabuleiro {
        grid-template-columns: var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno);
        grid-template-rows: var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno) var(--tam-pequeno);
    }
}

@media (max-width: 400px) {
    .tabuleiro {
        grid-template-columns: var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno);
        grid-template-rows: var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno) var(--tam-extra-pequeno);
    }
}
